@use "../abstracts/" as *;

.trainers {
  padding: 4rem 0 0;
  position: relative;
  @include breakpoint(large) {
    padding-top: 7rem;
  }
  &__data {
    text-align: center !important;
  }
  &__description {
    @include breakpoint(large) {
      max-width: rem(700);
    }
  }
  &__bg {
    background: var(--bg-color-alt);
    padding: 0 1.5rem 4rem 1.5rem;
    margin-top: 10rem;
  }
  &__content {
    margin-top: -10rem;
    @include breakpoint(medium) {
      grid-template: repeat(2, 1fr) / repeat(2,1fr);
    }
    @include breakpoint(large) {
      max-width: rem(900);
      margin-inline: auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  &__card {
    border-radius: $border-radius;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    // aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: brightness(80%);
    
  }
  &__name {
    align-self: flex-end;
    margin-left: rem(22);
    color: var(--title-color-alt);
    z-index: 1;

  }
}


.stacked {
  display: grid;
  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

@include breakpoint(large) {
  .circle-trainers {
    position: absolute;
    top: 10%;
    left: -10%;
    width: 300px;
    height: 300px;
    background: var(--detail-color-red);
    border-radius: 100%;
    filter: blur(10rem);
  }
}

.jiri-dejmal {
  background-image: url(../img/jiri-dejmal.jpg);
}

.veronika-markova {
  background-image: url(../img/veronika-markova.jpg);
}

.pavlina-zaluzanska {
  background-image: url(../img/pavlina-zaluzanska.jpg);
}

.otakar-sila {
  background-image: url(../img/otakar-sila.jpg);
}

.card {
  color: var(--body-color-alt);
  background-size: cover;
  padding: 10rem 0 0;
  border-radius: $border-radius;
  overflow: hidden;
  transition: transform .5s ease;
}

.card:hover, .card:focus-within {
  transform: scale(1.03);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.7) 20%,
    hsl(0 0% 0% / 1)
  );
  
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 1px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: red;
  
  transform-origin: left;
  transition: transform .5s ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after{
  transform: scaleX(1);
}

// @media (hover) {
  .card-content {
    transform: translateY(75%);
    transition: transform .5s ease;
    height: 100%;
  }
  .card:hover .card-content, .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: .5s;
  }
  
  .card:focus-within .card-content {
    transition-duration: 0ms;
  }
  
  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity .5s linear;
  }
  
  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: .8s;
  }

  .card-title::after {
    transform: scaleX(0);
  }
// }

.card__accordion {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card__link {
  color: var(--body-color-alt);
  font-size: rem(18);
  &:hover {
    text-decoration: underline;
  }
}

.card__icon {
  font-size: rem(18);
}
