@use "../abstracts/" as *;

.footer {
  background: var(--bg-color-alt);
  color: var(--body-color-alt);
  .section {
    padding-bottom: 2rem;
  }
  a:hover {
    text-decoration: underline;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__columns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__description {
    p {
      padding-top: 1.5rem;
      margin-bottom: 0;
      color: var(--footer-grey);
    }
  }
  &__menu {
    h4 {
      font-size: rem(20);
      margin-bottom: .5rem;
    }
    a {
      color: var(--body-color-alt);
    }
  }
  &__line {
    height: 1px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba($color: #5c5c5c, $alpha: 0.4);
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    color: var(--footer-grey);
    a {
      color: var(--body-color-alt);
    }
  }
}