@use "../abstracts/" as *;

.home {
  position: relative;
  width: 100%;
  height: min(110vh, 660px);
  @include breakpoint(large) {
    height: min(calc(100vh - 100px), 740px);
  }


  &__content {
    position: absolute;
    bottom: 6rem;
    @include breakpoint(medium) {
      max-width: 32rem;
    }
    @include breakpoint(large) {
      max-width: 38rem;
    }
  }

  &__title {
    color: var(--title-color-alt);
  }

  &__description {
    color: var(--body-color-alt);
    &--medium {
      display: none;
    }
    @include breakpoint(medium) {
      &--small {
        display: none;
      }
      &--medium {
        display: inline;
      }
    }
    
  }
}

.home__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0,0,0,0.6);
  // background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.240) 50%, rgba(0, 0, 0, 0.240) 50%, rgb(0, 0, 0) 100%);
  background: rgba($color: #000000, $alpha: 0.7);
}



