@use "../abstracts" as *;

.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 10px;
  margin: auto;
  border-radius: $border-radius;
  background-color: white;
  overflow: hidden;
  transform: translateY(-33.333%);
  box-shadow: $box-shadow;
  margin-bottom: -5rem;
  & a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    color: var(--body-color);
    transition: .5s;
    &:hover {
      background: var(--bg-color-black);
      color: var(--body-color-alt);
    }
    & p {
      padding-left: 1rem;
      margin-bottom: 0;
      line-height: 0;
    }
  }
}