@use "../abstracts/" as *;

.service__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.service__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  border-radius: 10px;
  box-shadow: $box-shadow;
  & h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }
}

.service__filter {
  filter: brightness(0.8);
}
