@use "../abstracts/" as *;

// .service__content {
//   text-align: center;
// }

// .service__container {
//   display: flex;
//   flex-direction: column;
//   gap: 3rem;
// }

.service__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.service__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  border-radius: 10px;
  // background-color: var(--bg-color);
  box-shadow: $box-shadow;
  & h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }
}
