@use "../abstracts/" as *;

.trainers {
  padding-bottom: 0 !important;
  &__data {
    text-align: center !important;
  }
  &__bg {
    background: var(--bg-color-alt);
    padding: 0 1.5rem 4rem 1.5rem;
    margin-top: 10rem;
  }
  &__content {
    margin-top: -10rem;
  }
  &__card {
    border-radius: $border-radius;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    // aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: brightness(80%);
    
  }
  &__name {
    align-self: flex-end;
    margin-left: rem(22);
    color: var(--title-color-alt);
    z-index: 1;

  }
}


.stacked {
  display: grid;
  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}