@use "../abstracts/" as *;

.trainers {
  &__card {
    border-radius: $border-radius;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    // aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: brightness(80%);
    
  }
  &__name {
    align-self: flex-end;
    margin-left: rem(22);
    color: var(--title-color-alt);
    z-index: 1;

  }
}


.stacked {
  display: grid;
  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}