@use "../abstracts" as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  background-color: var(--bg-color);
  color: var(--body-color);
}

img {
  max-width: 100%;
  height: auto;
}

i {
  font-size: 1.6rem;
}